# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
yarn.lock
yarn-error.log
.npmignore

#TS files
**/*.ts
*.ts
!**/*.d.ts
!*.d.ts
tsconfig.json
tsconfig-aot.json

#System Files
.DS_Store
