# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

#TS files
**/*.ts
*.ts
!**/*.d.ts
!*.d.ts

#System Files
.DS_Store


#
